{{ define "create_auction/form.tmpl" }}
<h3>Create a New Auction</h3>
<br>
<div class="row">
  {{ if .isUserSignedIn }}
  <!-- <form class="col s12">
    <div class="input-field col s12">
        <input id="title" type="text" class="validate">
        <label for="title">Title</label>
    </div>
    <div class="file-field input-field row">
        <div class="btn right col s2">
            <span>Select Images</span>
            <input type="file">
        </div>
        <div class="file-path-wrapper left col s10">
            <input class="file-path validate" name="file" id="file" type="text" placeholder="Upload image">
        </div>
    </div>
    <div class="col s6 post-bid-buttons">
    <a id="next-button" class="waves-effect waves-light btn" onclick="uploadPics();">Next</a>
    </div>
  </form> -->
<p id="msg"></p>
            <input type="file" id="file" name="file" multiple />
            <button id="upload" onclick="uploadPics()">Upload</button>
  {{ else }}
  <a id="signup-button" class="waves-effect waves-light btn modal-trigger" data-target="signup-modal">Sign up</a>
  <a id="signin-button" class="waves-effect waves-light btn modal-trigger" data-target="signin-modal">Login</a>
  {{ end }}
  </div>
</div>

<div id="signup-modal" class="modal">
  <div class="modal-content">
    <h4>New User Registration</h4>
    <div class="row">
      <div class="input-field col s12 m7">
        <input id="signup-input-username" type="text" class="validate">
        <label for="signup-input-username">Enter new user ID...</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m7">
        <input id="signup-input-password" type="password" class="validate">
        <label for="signup-input-password">Enter your password...</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m7">
        <a href="#!" class="waves-effect waves-light btn" onclick="signUp();">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<div id="signin-modal" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <div class="row">
      <div class="input-field col s12 m7">
        <input id="login-input-username" type="text" class="validate">
        <label for="login-input-username">Enter existing user ID...</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m7">
        <input id="login-input-password" type="password" class="validate">
        <label for="login-input-password">Enter your password...</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m7">
        <a href="#!" class="waves-effect waves-light btn" onclick="login();">Login</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
