.post-bid-buttons .btn {
  margin: 1rem 0;
}

/* @font-face {
  font-family: MercariSans-Thin;
  src: url(/fonts/3c99c41.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
} */

@font-face {
  font-family: MercariSans-Regular;
  src: url(/fonts/b396b9d.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MercariSans-Bold;
  src: url(/fonts/647432b.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: MercariSans-Regular;
  background-color: rgb(245, 245, 245);
}

nav {
  font-family: MercariSans-Bold;
}

.btn {
  background-color: #4cc9ff;
}

.btn:hover {
  background-color: #ff0010;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-image {
  height: 300px !important;
  overflow: hidden;
}

/* .card-action a {
  color: #4cc9ff;
} */

.card-title {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2976d2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 110%;
  margin-left: -87px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2976d2 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

label[for="auction-title"] {
  font-size: 20px;
}

label[for="auction-tags"] {
  font-size: 20px;
}

label[for="auction-description"] {
  font-size: 20px;
}

label[for="auction-base-price"] {
  font-size: 20px;
}
