.post-bid-buttons .btn {
  margin: 1rem 0;
}

/* @font-face {
  font-family: MercariSans-Thin;
  src: url(/fonts/3c99c41.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
} */

@font-face {
  font-family: MercariSans-Regular;
  src: url(/fonts/b396b9d.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: MercariSans-Bold;
  src: url(/fonts/647432b.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

body {
  font-family: MercariSans-Regular;
  background-color: rgb(245, 245, 245);
}

nav {
  font-family: MercariSans-Bold;
}

.btn {
  background-color: #4cc9ff;
}

.card-action a {
  color: #4cc9ff;
}
