{{ define "auction/bids.tmpl" }}
<h5>Highest bids</h5>
<div id="text-no-bids" style="display: none;">
  No bids now.
</div>
<table id="table-bids">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody id="table-bids-body">
  </tbody>
</table>
{{ end }}
