{{ define "auction/bids.tmpl" }}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alvin</td>
      <td>2019.11.06 14:43</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>Alvin</td>
      <td>2019.11.06 14:43</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>Alvin</td>
      <td>2019.11.06 14:43</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>Alvin</td>
      <td>2019.11.06 14:43</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>Alvin</td>
      <td>2019.11.06 14:43</td>
      <td>$20.00</td>
    </tr>
  </tbody>
</table>
{{ end }}
