{{ define "auction/bids.tmpl" }}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{ range $bid := .bids -}}
    <tr>
      <td>{{ $bid.UserID }}</td>
      <td>{{ $bid.Time }}</td>
      <td>{{ $bid.Price }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{ end }}
