{{ define "auction/details.tmpl" }}
<div class="row">
  <div class="col s12">
    <h4>{{ .name }}</h4>
  </div>
</div>
<div class="row">
  <div class="col s4 m2">
    <img src="{{ .image_link }}" alt="" width="100%">
  </div>
  <div class="col s8 m10">
    <p class="flow-text">
      {{ .description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 right-align">
    <p id="end-timer"></p>
  </div>
</div>
{{ end }}
