{{ define "auction/details.tmpl" }}
<div class="row">
  <div class="col s12">
    <h4>マウジー　ニット</h4>
  </div>
</div>
<div class="row">
  <div class="col s4 m2">
    <img src="https://static.mercdn.net/item/detail/orig/photos/m67918189515_1.jpg?1573189516" alt="" width="100%">
  </div>
  <div class="col s8 m10">
    <p class="flow-text">
      色はくすみピンク
      丈が少し短めです
      首元まであるのであったかいと思います
      フリーサイズで新品未使用です
      タグ付きです
      元値6980円＋税
      写真より薄めのピンクで普段使いしやすいです
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 right-align">
    1d 3h 40m 2s
  </div>
</div>
{{ end }}
