{{ define "auction/details.tmpl" }}
<div class="row">
  <div class="col s12">
    <h4>{{ .auction.Title }}</h4>
  </div>
</div>
<div class="row">
  <div class="col s4 m3">
    <img src="data:image/png;base64, {{ .auction.Image }}" alt="" width="100%">
  </div>
  <div class="col s8 m9">
    <p class="flow-text">
      {{ .auction.Description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 right-align">
    <p id="end-timer"></p>
  </div>
</div>
{{ end }}
