{{ define "auction/index.tmpl" }}
<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .page_title }}</title>
</head>

<body>
  <!-- auction details page -->
  <main class="container">
    <section>
      <!-- auction details -->
      {{ template "auction/details.tmpl" . }}
    </section>

    <section>
      <!-- bids -->
      {{ template "auction/bids.tmpl" . }}
    </section>

    <section>
      <!-- post bid -->
      {{ template "auction/post.tmpl" . }}
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript">
    var end_time = new Date({{ .end_time }});
    updateTimer();
    var timer = setInterval(updateTimer, 1000);

    function updateTimer() {
      var now = new Date();
      var time_remain = end_time - now;
      setEndTime(time_remain);
    }

    function setEndTime(t) {
      t = Math.floor(t / 1000);
      var s = t % 60;
      t = Math.floor(t / 60);
      var m = t % 60;
      t = Math.floor(t / 60);
      var h = t;
      $("#end-timer").html(`${h}h ${m}m ${s}s`);
    }
    var debug = {{ . }};
  </script>
</body>

</html>
{{ end }}
