{{ define "auction/post.tmpl" }}
<div class="row">
  {{ if .isUserSignedIn }}
    <div class="input-field col s6">
      <input id="input-price" type="text" class="validate">
      <label for="input-price">Price</label>
    </div>
  <div class="col s6 post-bid-buttons">
    <a id="submit-button" class="waves-effect waves-light btn" onclick="submitBid();">Submit</a>
  </div>
  {{ else }}
    <a id="signup-button" class="waves-effect waves-light btn modal-trigger" data-target="signup-modal">Sign Up/Log In</a>
  {{ end }}
  </div>
</div>

<div id="signup-modal" class="modal">
  <div class="modal-content">
  <table>
    <thead>
      <tr>
        <th>New User Registration</th>
        <th>Login</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="row">
            <div class="input-field col s12">
              <input id="signup-input-username" type="text" class="validate">
              <label for="signup-input-username">Enter New User ID...</label>
            </div>
          </div>
        </th>

        <th>
          <div class="row">
            <div class="input-field col s12">
              <input id="login-input-username" type="text" class="validate">
              <label for="login-input-username">Enter Existing User ID...</label>
            </div>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="row">
            <div class="input-field col s12">
              <input id="signup-input-password" type="text" class="validate">
              <label for="signup-input-password">Password...</label>
            </div>
          </div>
        </th>

        <th>
          <div class="row">
            <div class="input-field col s12">
              <input id="login-input-password" type="text" class="validate">
              <label for="login-input-password">Password...</label>
            </div>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <span id="sign-up-status-message"></span>
        </th>

        <th>
          <span id="login-status-message" style="color:red;"></span>
        </th>
      </tr>

      <tr>
        <th>
          <div class="row">
            <div class="input-field col s12">
              <a href="#!" class="waves-effect waves-light btn" onclick="signUp();">Sign Up</a>
            </div>
          </div>
        </th>

        <th>
          <div class="row">
            <div class="input-field col s12">
              <a href="#!" class="waves-effect waves-light btn" onclick="login();">Login</a>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>

  </div>
</div>
{{ end }}
