{{ define "common/navbar.tmpl" }}

<nav class="white">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><span style="color: #4cc9ff;">mer</span><span style="color: #ff0010;">auc</span></a>
  </div>
</nav>

{{ end }}
