<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <!-- auction details page -->
  <main class="container">
    <section>
      <!-- auction details -->
      <div class="row">
        <div class="col s12">
          <h4>マウジー　ニット</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m2">
          <img src="https://static.mercdn.net/item/detail/orig/photos/m67918189515_1.jpg?1573189516" alt="" width="100%">
        </div>
        <div class="col s8 m10">
          <p class="flow-text">
            色はくすみピンク
            丈が少し短めです
            首元まであるのであったかいと思います
            フリーサイズで新品未使用です
            タグ付きです
            元値6980円＋税
            写真より薄めのピンクで普段使いしやすいです
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          1d 3h 40m 2s
        </div>
      </div>
    </section>

    <section>
      <!-- bids -->
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>2019.11.06 14:43</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>2019.11.06 14:43</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>2019.11.06 14:43</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>2019.11.06 14:43</td>
            <td>$20.00</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>2019.11.06 14:43</td>
            <td>$20.00</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <!-- post bid -->
      <div class="row">
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Price</label>
        </div>
        <div class="col s6 post-bid-buttons">
          <a class="waves-effect waves-light btn">Register</a>
          <a class="waves-effect waves-light btn">Submit</a>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>
